extends layout

block content
  h1= title

  - each repo in repos
    p
      strong= repo.name
    ul
      - each entry in repo.timeEntries
        li
          | #{entry.issue} &mdash; #{entry.hours} hours
